<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/loans"></ion-back-button>
    </ion-buttons>
    <ion-title>Loan Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loan">
  <ion-list>
    <ion-item>
      <ion-label>
        <p>Id: {{ loan.id }}</p>
        <p>Status: {{ loan.status }}</p>
        <p>Due Date: {{ loan.duedate | date:'d MMM yyyy' }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngFor="let item of loan.items">
      <ion-label>{{ item.id }} x {{ item.quantity }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding" *ngIf="loan.status === 'pending'">
    <ion-button expand="block" color="danger" (click)="cancelLoan()">
      Cancel Loan
    </ion-button>
  </div>
</ion-content>