<ion-header>
  <ion-toolbar>
    <ion-title>New Loan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" routerLink="/add-items">
    Add Items
  </ion-button>

  <ion-list *ngIf="hasSelectedItems()">
    <ng-container *ngFor="let item of items">
      <ion-item *ngIf="item.quantity > 0">
        <ion-label>{{ item.id }} x {{ item.quantity }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="submit()">
    Submit
  </ion-button>
</ion-content>