<ion-header>
  <ion-toolbar>
    <ion-title>New Loan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" routerLink="/add-items">
    Add Items
  </ion-button>

  <ion-list *ngIf="hasSelectedItems()">
    <ng-container *ngFor="let item of items">
      <ion-item *ngIf="item.quantity > 0">
        <ion-label>{{ item.id }} x {{ item.quantity }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <!-- Show shared users if any were added -->
  <ion-list *ngIf="getSharedUsers().length > 0">
    <ion-item-divider>
      <ion-label>Shared With</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let email of getSharedUsers()">
      <ion-icon name="person-circle" slot="start" color="primary"></ion-icon>
      <ion-label>{{ email }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="submit()">
    Submit
  </ion-button>
</ion-content>